{% extends 'base.html.twig' %}
{% block body %}
<h1>Table de multiplication de {{n}}</h1>
<h1>Méthode {{method}}</h1>
<h1>Test {{x}}</h1>
<table>
    
        {% for i in range(0,x) %}
        <tr><td>{{i}} x {{n}} = </td><td>{{i*n}}</td></tr>
        {% endfor %}
    
</table>php
{% endblock %}